# Todo lo demas: solo admin
* @ibreit-ar

# Open Integration bump (solo oidev2-WK66J3)
/oidev2-WK66J3/siebel-openint-image-builder/Chart.yaml @p-iabreit @ibreit-ar

# Siebel Artifacts: Chart.yaml y arbol MDE
/siebel-artifacts/Chart.yaml @p-iabreit @ibreit-ar
/siebel-artifacts/build/mde/** @p-iabreit @ibreit-ar

# Politica solo admin
/.github/CODEOWNERS @ibreit-ar
/.github/workflows/** @ibreit-ar